# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Virtual env
.venv/

# Secrets
.secrets/*
!.secrets/.gitkeep
.env

# Data (ignore all downloaded/generated data)
data/*
!data/.gitkeep
!data/raw/
!data/interim/
!data/processed/
!data/external/
data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# OS
.DS_Store
Thumbs.db